services:
  db:
    image: postgres:16-alpine
    container_name: backend-template-db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=BackendTemplate_dev
      - POSTGRES_PASSWORD=BackendTemplate123
      - POSTGRES_DB=BackendTemplate_dev_db

  web:
    build:
      context: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - app_data:/usr/src/app
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data:
  app_data:
